<template id="alert">
  <div class="toast alert-primary" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <span class="text">This is an alert</span>
      <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
</template>
<div class="alerts"></div>
