<html>
  <%- include("header.ejs") %>
  <body>
    <div class="container">
      <h1>Please click one of the links below:</h1>
      <ul>
        <li><a href="/contacts/new">Create a new contact</a></li>
        <li><a href="/contacts/edit">Edit an existing contact</a></li>
        <li><a href="/contacts/delete">Delete an existing contact</a></li>
        <li><a href="/chats/current">Chat</a></li>
      </ul>
  </body>
</html>
